body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: aliceblue;
}

@import url('https://rsms.me/inter/inter.css');
body { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  body { font-family: 'Inter var', sans-serif; }
}
